/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#efefef;
    color:#222;
    line-height:1.7;
}

/* NAVIGATION */

header{
    background:#f7f7f7;
    border-bottom:1px solid #ddd;
    position:sticky;
    top:0;
    z-index:1000;
}

nav{
    max-width:1200px;
    margin:auto;
    padding:25px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    font-size:24px;
    font-weight:700;
}

nav ul{
    display:flex;
    list-style:none;
    gap:40px;
}

nav ul li a{
    text-decoration:none;
    color:#111;
    font-size:18px;
    font-weight:500;
}

nav ul li a:hover{
    color:#059669;
}

/* HERO */

.hero{
    max-width:1200px;
    margin:auto;
    padding:100px 40px;
}

.hero-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    flex-wrap:wrap;
}

.hero-image img{
    width:330px;
    height:330px;
    object-fit:cover;
    border-radius:24px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);
}

.hero-content{
    max-width:650px;
}

.hero-content h1{
    font-size:80px;
    line-height:1.1;
    margin-bottom:20px;
    color:#111;
}

.hero-content h2{
    font-size:42px;
    color:#059669;
    margin-bottom:30px;
}

.location{
    font-size:20px;
    margin-bottom:25px;
    color:#444;
}

.hero-content p{
    font-size:22px;
    margin-bottom:35px;
}

/* BUTTON */

.btn{
    display:inline-block;
    text-decoration:none;

    background:#059669;
    color:white;

    padding:18px 40px;
    border-radius:14px;

    font-size:20px;
    font-weight:700;

    transition:0.3s;
}

.btn:hover{
    background:#047857;
}

/* STATS */

.stats{
    margin-top:80px;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.card{
    background:white;
    padding:40px 25px;
    border-radius:24px;
    text-align:center;

    box-shadow:
    0 8px 25px rgba(0,0,0,0.05);
}

.card h3{
    font-size:50px;
    color:#059669;
    margin-bottom:15px;
}

.card p{
    color:#555;
    font-size:18px;
}

/* SECTIONS */

.about,
.skills,
.projects,
.contact{
    max-width:1200px;
    margin:auto;
    padding:120px 40px;
}

.about h2,
.skills h2,
.projects h2,
.contact h2{
    text-align:center;
    font-size:72px;
    margin-bottom:50px;
    color:#111;
}

.about p{
    text-align:center;
    max-width:900px;
    margin:auto auto 30px auto;
    font-size:24px;
    color:#555;
}

/* SKILLS */

.skills-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill-card{
    background:white;
    padding:16px 30px;
    border-radius:999px;

    font-size:24px;
    font-weight:600;

    box-shadow:
    0 8px 20px rgba(0,0,0,0.05);
}

/* PROJECT */

.project-card{
    background:white;
    padding:60px;
    border-radius:30px;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.05);
}

.project-card h3{
    font-size:56px;
    color:#059669;
    margin-bottom:25px;
}

.project-card p{
    font-size:28px;
    color:#555;
    margin-bottom:50px;
}

.project-stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.project-stats div{
    background:#f5f5f5;
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.project-stats h4{
    color:#059669;
    font-size:48px;
    margin-bottom:10px;
}

.project-stats span{
    color:#555;
    font-size:20px;
}

/* CONTACT */

.contact{
    text-align:center;
}

.contact p{
    font-size:28px;
    margin-bottom:25px;
}

.contact a{
    color:#059669;
    text-decoration:none;
    font-weight:700;
}

.contact a:hover{
    text-decoration:underline;
}

/* FOOTER */

footer{
    text-align:center;
    padding:35px;
    border-top:1px solid #ddd;
    background:#f7f7f7;
}

footer p{
    font-size:18px;
}

/* MOBILE */

@media(max-width:992px){

    .hero-content h1{
        font-size:56px;
    }

    .hero-content h2{
        font-size:32px;
    }

    .stats{
        grid-template-columns:repeat(2,1fr);
    }

    .project-stats{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        gap:20px;
    }

    .hero{
        text-align:center;
    }

    .hero-content h1{
        font-size:42px;
    }

    .hero-content h2{
        font-size:28px;
    }

    .about h2,
    .skills h2,
    .projects h2,
    .contact h2{
        font-size:48px;
    }

    .stats{
        grid-template-columns:1fr;
    }

    .project-stats{
        grid-template-columns:1fr;
    }

    .project-card{
        padding:35px;
    }

    .project-card h3{
        font-size:38px;
    }

    .project-card p{
        font-size:20px;
    }
}
